
@{
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css2")
    ViewBag.Title = "Index";
}



<div   style="text-align:center">
   

    <h4 style="margin-top:15px">Panel de administracion</h4>
    <br />
    <a href="@Url.Action("Index", "GestionDeUsuarios")" class="btn btn-outline-primary" style="width:250px;height:90px;font-size:20px;padding:11px">
      
        <span class="fas fa-user-friends" aria-hidden="true"></span> <br /> Gestionar Usuarios
    </a>

    <br />
    <br />
</div>
<br /><br /><br /><br /><br />
