@model MedicalApp.Models.dbOwnModels.CT_UsersCE
@{
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css2")
    Layout = null;
   

}
 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tasks</title>
    <link rel="icon" href="~/Content/Assets/images/tasklogo.png" type="image/gif" sizes="16x16">

    <style>


        body {
            background-image: url('../../Content/Assets/images/doodles.png');
            background-size: 25%;
        }
    </style>
</head>
<body>
    <div> 
        <div class="container" style="max-width:390px">
            <div class="wrapper" style="margin-top: 50px">
                <div class="form-signin" style="background-color: #424242; color: #fafafa; border-radius: 8px; text-align: center; -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75); -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75); box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);">
                    <br />
                      <h2>Tasks</h2>
                    
                    <img src="~/Content/Assets/images/user.png" class="img-circle img-responsive" alt="" style="max-width: 225px"  />
                   
                    <br />
                    
                   @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
                   {
                       <br />

                       <label>Usuario</label>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control style1515" } });
                    

                        <br />
                        <label>Password</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control style1515" } });


                        <br />
                     
                        <input type="submit" value="Login" class="btn btn-primary" />
                        <br />
                        <br />
                        <br />
                    }
                    
                   
                </div>
            </div>
        </div>
    </div>
</body>
</html>




@{
    string Title = "";
    string Body = "";
    string colorTitle = "";
    if (TempData["ShowModal"] != null)
    {
        if (ViewBag.Message != null)
        {
            var data = ViewBag.Message;
            colorTitle = data.msgColorTitle;
            Title = data.msgTitle;
            Body = data.msgBody;
            <script>openModal27();</script>
        }

    }
}
<script type='text/javascript'>
    function openModal27() {
        $('#myModal').modal('show');
    }
</script>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"  style="background-color:@colorTitle;color:white">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              @Body
            </div>
            
        </div>
    </div>
</div>
@{
    if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            openModal27();
        </script>
    }
}