@model MedicalApp.Models.dbOwnModels.ViewModel
@{
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css2")

    ViewBag.Title = "Tasks";

    @Html.Raw(TempData["msg"])
}

<link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script type='text/javascript'>
    $(function(){
        $('.date-picker').datepicker({ dateFormat: 'yy/mm/dd' }).val();
    })
</script>


<link href="~/Content/Assets/FontAwesome/fontawesome/css/all.css" rel="stylesheet" />


<link href="~/Content/Assets/JQDataTables/datatables.min.css" rel="stylesheet" />

<script src="~/Content/Assets/JQDataTables/datatables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.alex').DataTable();
    });
</script>


<div class="alert alert-info" style="margin-top:15px;text-align:center">
    <h3>Gestion de tareas</h3>
</div>

<div class="col-12">
    <a class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="color:white;cursor:pointer;margin-bottom:-7px">Nueva tarea</a>

</div>
<div class="col-12">

    <br />
    <div id="accordion">

        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    Mis tareas pendientes
                </a>
            </div>
            <div id="collapseOne" class="collapse show">
                <div class="card-body">


                    <table class="table table-hover table-bordered table-condensed alex">
                        <thead style="background-color:dodgerblue;color:white">
                            <tr>
                                <th>Folio</th>
                                <th>Fecha</th>
                                <th>Asignador</th>
                                <th>TituloTarea</th>
                                <th>Descripcion</th>
                                <th>Asignado</th>
                                <th>FechaLimite</th>
                                <th>Vencida</th>
                                <th>Adjunto</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TareasIE.Where(x => x.Asignado == Model.PkUser ))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CT_Users1.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TituloTarea)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CT_Users.UserName)
                                    </td>
                                    <td>
                                        @item.FechaLimite.Value.ToString("MM/dd/yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vencida)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Adjunto)
                                    </td>

                                    <td style="width:10px">
                                        @Html.ActionLink("Eliminar", "Delete", "Home", new { id = item.id },
                                        new { @class = "btn btn-sm btn-warning pull-left", Style = "color:#222;margion-left:-50px", onclick = "return confirm('Esta seguro de eliminar esta tarea?');" })
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>


                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    Tareas que he asignado a otros usuarios
                </a>
            </div>
            <div id="collapseTwo" class="collapse">
                <div class="card-body">
                   
                    @*<label>@Model.FulluserName.ToString()</label>*@
                    <table class="table table-hover table-bordered table-condensed alex">
                        <thead style="background-color:dodgerblue;color:white">
                            <tr>
                                <th>Folio</th>
                                <th>Fecha</th>
                                <th>Asignador</th>
                                <th>TituloTarea</th>
                                <th>Descripcion</th>
                                <th>Asignado</th>
                                <th>FechaLimite</th>
                                <th>Vencida</th>
                                <th>Adjunto</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TareasIE.Where(x => x.Asignador == Model.PkUser && x.Asignado != Model.PkUser ))
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CT_Users1.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TituloTarea)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CT_Users.UserName)
                                    </td>
                                    <td>
                                        @item.FechaLimite.Value.ToString("MM/dd/yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vencida)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Adjunto)
                                    </td>

                                    <td style="width:10px">
                                        @Html.ActionLink("Eliminar", "Delete", "Home", new { id = item.id },
                                        new { @class = "btn btn-sm btn-warning pull-left", Style = "color:#222;margion-left:-50px", onclick = "return confirm('Esta seguro de eliminar esta tarea?');" })
                                    </td>
                                </tr>
                                }
                        </tbody>

                    </table>


                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    Tareas programadas
                </a>
            </div>
            <div id="collapseThree" class="collapse">
                <div class="card-body">
                    Lorem ipsum..
                </div>
            </div>
        </div>

    </div>

</div>


<div style="text-align:center;display:none">

    <h4 style="margin-top:15px">Seleccione una opcion</h4>
    <br />
    @*@Html.ActionLink("Crear nueva cita", "Index", "GestionDeUsuarios", null, new { @class = "btn btn-lg btn-outline-primary", Style = "width:180px;height:150px;vertical-align:center" })*@

    <a href='@(Url.Action("Index", "GestionDeUsuarios"))' class="btn btn-lg  btn-outline-primary" style="width:180px;height:150px"><i class="fas fa-address-book" style="font-size:40px;margin-top:15px"></i><br />Gestionar Usuarios</a>



    <a href='@(Url.Action("Index", "Administration"))' class="btn btn-lg  btn-outline-primary" style="width:180px;height:150px"><i class="fas fa-male" style="font-size:40px;margin-top:15px"></i><br />Administrar</a>
    <br />
    <br />
</div>
<br /><br /><br /><br /><br />




@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()



    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">




            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="background-color:#42A5F5;color:white">
                    <h4 class="modal-title">Crear nueva tarea</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="row">
                        
                        <div class="col-6">
                            <label>Asignador</label>
                            <br />
                            @Html.DropDownListFor(model => model.TareasFC.Asignador, ViewBag.Asignador as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control"}).
                        </div>
                        <div class="col-6">
                            <label>Titulo</label>
                            <br />
                            @Html.EditorFor(model => model.TareasFC.TituloTarea, new { htmlAttributes = new { @class = "form-control"} })
                        </div>
                        <div class="col-12" style="margin-bottom:15px">
                            <label>Descripcion</label>
                            <br />
                            @Html.EditorFor(model => model.TareasFC.Descripcion, new { htmlAttributes = new { @class = "form-control"} })
                        </div>
                        <div class="col-6">
                            <label>Asignado</label>
                            <br />
                            @*DROPDOWNLIST ESPECIAL PARA QUE GUARDE EN EL ACTIONNAME CREATE PERO TAMBIEN PARA QUE MUESTRE LOS NOMBRES DE LA TABLA FORANEA AL CARGAR*@
                            @Html.DropDownListFor(model => model.TareasFC.Asignado, ViewBag.Asignado as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-6">
                            <label>FechaLimite</label>
                            <br />
                            @Html.EditorFor(model => model.TareasFC.FechaLimite, new { htmlAttributes = new { @class = "form-control date-picker", autocomplete = "off" } })
                        </div>
                        <div class="col-12" style="margin-top:25px">
                            <label for="file">Adjunto:</label>
                            <input type="file" name="file" id="file" />
                        </div>
                    </div>
                    <div class="col-12">
                      <br />
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="submit" value="Crear tarea" class="btn btn-primary" />
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                    </div>

                </div>

            </div>




        </div>
    </div>
}






@{
    string Title = "";
    string Body = "";
    string colorTitle = "";

   
        if ((string)TempData["ShowModal1"] == "1")
        {
            colorTitle = "#e57373";
            Title = "Datos incompletos";
            Body = "Por favor llenar todos los campos en el formulario.";

            <script type='text/javascript'>
            function openModal28() {
                $('#AlertModal').modal('show');
            }
            </script>
            <script>openModal28();</script>
        }

        if ((string)TempData["ShowModal1"] == "Exito")
        {
            colorTitle = "#00C851";
            Title = "Exito";
            Body = "Tarea creada con exito.";

            <script type='text/javascript'>
            function openModal28() {
                $('#AlertModal').modal('show');
            }
            </script>

            <script>openModal28();</script>
    }
    if ((string)TempData["ShowModal1"] == "TareaEliminada")
    {
        colorTitle = "#00C851";
        Title = "Exito";
        Body = "Tarea eliminada con exito.";

        <script type='text/javascript'>
            function openModal28() {
                $('#AlertModal').modal('show');
            }
        </script>
            <script>openModal28();</script>
    }


}

<div class="modal fade" id="AlertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:@colorTitle;color:white">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @Body
            </div>

        </div>
    </div>
</div>
@{

    <script type="text/javascript">
        openModal28();
    </script>

}